{%extends "django_registration/base.html"%} 
{% load bootstrap5 %}
{% block content %}
<br>
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <br>
      <div class="row d-flex justify-content-center align-items-center h-60">
        <div class="col-12 col-md-9 col-sm-4 col-xl-6">
          <div class="card" style="border-radius: 15px; background-color: rgb(171, 238, 238);">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-2">Create an account</h2>
             
              <form  action="/accounts/register/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body"><span style="color: white;">Sign Up</span></button>
                </div>
      
                <input type="hidden" name="next" value="{{next}}">
      
              </form>

               

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/accounts/login/" class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock%}